@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

body {
    /* Replace the broken external link with the path to your new PNG file: */
    background-image: url('./imgs/d2p3xzm-c5ae3650-6826-496b-bf57-1db45d905f52.png'); 
    
    /* Also add these for proper background behavior: */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

h1 {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-webkit-background-clip: text;
	text-transform: uppercase;
    font-size: 125px;
    letter-spacing: 2px;
    line-height: 1;
    margin: 50px;
    font-family: 'Bangers', cursive;
}

.button {
	text-decoration: none;
	padding: 20px 20px;
	background-color: transparent;
	border-radius: 20px;
	color: #FFF;
	position: absolute;
	left: 700px;
	bottom: 200px;
	font-family: 'Bangers', cursive;
	font-size: 30px;
} 


